<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="/assets/css/styles.css">

  <!-- <title>Little Bugs</title> -->
</head>

<body>

    <h1> Hi, this is Vikas</h1>


</body>

</html>